.panorama {
    width: 30%;
    height: auto;
}

#stepIntotheFuture{
    font-family: 'Arizonia', cursive;
    color: #0377ac;
    text-decoration: underline;
    text-decoration-color: lightslategrey;
    text-decoration-style: solid;
}